.maze-container {
  margin-top: 100px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.maze {
  display: grid;
  grid-template-columns: repeat(19, 40px);
  grid-gap: 2px;
  margin-bottom: 20px;
}

.maze-row {
  display: contents;
}

.maze-cell {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.wall {
  background-color: #444;
}

.robot {
  font-size: 30px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width:800px) {
  .maze-cell {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }

  .maze {
    display: grid;
    grid-template-columns: repeat(19, 20px);
    grid-gap: 2px;
    margin-bottom: 20px;
  }

  .maze-container {
    margin-top: 150px !important;

  }


}

@media (max-width:400px) {
  .maze-cell {
    width: 10px;
    height: 10px;
    font-size: 8px;
  }

  .maze {
    display: grid;
    grid-template-columns: repeat(19, 10px);
    grid-gap: 1px;
    margin-bottom: 20px;
  }

  .maze-container {
    margin-top: 200px !important;

  }
}